.container{
    text-align: center;
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.subcontainer{
    background-color: aliceblue;
    height: 50vh;
    width: 50vw;
    border-style: solid;
    border-radius: 9px;
    margin-bottom: 5px;
    overflow: auto;
    
    }

.add-comment{
    width: 50vw;
    background-color: aliceblue;
    border-style: solid;
    border-radius: 9px;
   
}
.comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
}

.comment{
    background-color: #4c4fea;
    width: 48vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.comment-interno{
}

input{
    margin: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: aliceblue;
    width: 49vw;
    
}


input:focus{
    outline: none;
}


button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #4c4fea;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: color 100ms;
}
button:hover,
button:focus {
  background-color: #829cf0;
}


* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  *::-webkit-scrollbar {
    width: 10px;
    height: 7px;
  }

  *::-webkit-scrollbar-track {
    background: #e9ddff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c188d8;
    border-radius: 10px;
    border: 3px solid #c188d8;
  }