div{
    text-align: center;
}

h2{
    font-size: 21px;
}

input{
    margin: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: rgb(235, 236, 255);
}

button{
    margin-top: 10px;
    background-color: #4c4fea;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: color 100ms;
}
button:hover,
button:focus {
  background-color: #829cf0;
}