.posts{
    margin-top: 20px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    overflow-y: auto;
  
}

.post{
    margin: 5px;
    padding: 10px;
}

.return-login-button{
  background-color: rebeccapurple;
}

h2{
    font-size: 21px;
}

input{
    margin: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: rgb(235, 236, 255);
}

input:focus{
    outline: none;
}


button{
    margin-top: 10px;
    background-color: #4c4fea;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: color 100ms;
}
button:hover,
button:focus {
  background-color: #829cf0;
}

button:disabled{
  background-color: #bfcdfb;
}


* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  *::-webkit-scrollbar {
    width: 16px;
    height: 7px;
  }

  *::-webkit-scrollbar-track {
    background: #f6f1ff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c188d8;
    border-radius: 10px;
    border: 3px solid #c188d8;
  }
