/* You can add global styles to this file, and also import other style files */
@import 'normalize.css';
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0;
    background-color: rgb(236, 232, 255);
}

app-root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


